@model List<Course>
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="myCourses">
            @foreach (Course course in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/img/course/@course.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">@course.Title</a></h3>
                            @*<p>@course.Description </p>*@
                            @if (course.Description.Length < 40)
                            {
                                <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness</p>
                            }
                            else
                            {
                                <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness..</p>
                            }
                            <a class="default-btn" href="course-details.html">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <div style="display:flex;justify-content:center">
                    <a class="default-btn" id="loadBtn">Load More</a>
                    <input type="hidden" value="@ViewBag.Procount" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course End -->
@section Scripts{
    <script asp-append-version="true" src="~/js/myBackend.js"></script>
 }   @*// yeniləmədən refresh edir*@

